*{
    margin: 0px;
    /* padding: 0px; */
}
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    
}
.section-title {
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
    text-align: center;

}
/* header section style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav >ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav li>a {
    text-decoration: none;
    color: #474747;
}
header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 50px;
    display: flex;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between ;

}
.banner-content {
    max-width: 585px;
}
.banner .pofile-pic {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style    */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section , footer{
    margin-top: 130px;
}
.about {
    background-color: #FFF8F3;
    margin: 50px;
    padding: 130px ;
    border-radius: 10px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.about-info {
    text-align: center;
}
/* what section start  */
#what-description{
    padding: 30px 150px;
}
.skills-container
{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0,0,0.06);
    
}

/* resume section  */
.resume-container{
    display: flex;
    gap: 50px;
}
.download-cv{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #FFF8F3;
    padding: 50px;
}
.footer-colum{
    width: 50%;
}
.contact >input, textarea{
    display: block;
    margin-bottom: 25px;
}