*{
    margin: 0px;
    /* padding: 0px; */
}
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    
}
/* header section style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav >ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav li>a {
    text-decoration: none;
    color: #474747;
}
header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 50px;
    display: flex;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between ;

}
.banner-content {
    max-width: 585px;
}
.banner .pofile-pic {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style    */
